@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "GaianBasic";
  src: url("/fonts/GaianBasic.otf") format("truetype");
}

@font-face {
  font-family: "PFDinDisplayPro";
  src: url("/fonts/PFDinDisplayPro-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "PFDinDisplayPro";
  src: url("/fonts/PFDinDisplayPro-Bold.ttf") format("truetype");
  font-weight: bold;
}

$breakpoints: (
  xs: 0,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1520px,
);

@mixin max-breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error "Unknown breakpoint: #{$breakpoint}. Please use one of: #{map-keys($breakpoints)}.";
  }
}
// Mixin to apply styles based on a minimum width for each breakpoint
@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error "Unknown breakpoint: #{$breakpoint}. Please use one of: #{map-keys($breakpoints)}.";
  }
}

:root {
  --blue-700: #011082;
  --blue-500: #0050ff;
  --blue-400: #344afb;
  --glow: #00a2ff;
  --slate-300: #eef0f3;
  --slate-400: #e9ebee;
}

html,
body {
  font-size: 18px;
  padding: 0;
  margin: 0;
  font-family: "PFDinDisplayPro";
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 16px;
  color: rgb(91, 97, 110);
  line-height: 1.75;
  font-weight: 400;

  @include breakpoint(lg) {
    font-size: 1.2rem;
  }
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.lg\:container {
  max-width: 1240px;
}

.cta-container {
  background-image: url(../public/images/compound.png);
  background-position-y: -320px;
  background-position-x: 200%;
  background-repeat: no-repeat;
}

.app-header {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  position: sticky;
  top: 0;
  z-index: 9;
}

#hero-banner {
  /* overflow: hidden; */
  position: relative;
  padding: 32px 0;
  @include breakpoint(md) {
    padding: 64px 0;
  }
}

.animated-background {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 0;
}

.tile {
  width: 12.75vw;
  /* Or your desired tile size */
  height: 12.75vw;
  /* Or your desired tile size */
  border: 2px solid;
  border-color: #e2e8f0;
  opacity: 0.5;
  animation: animateTile 5s infinite;
  border-radius: 12px;
}

/* Add more tiles with different delays for a dynamic effect */

@keyframes animateTile {
  0%,
  100% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.5;
  }
}

.appHeader {
  width: 100%;
  position: absolute;
  z-index: 99;
}

.mainNav {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  @include breakpoint(md) {
    padding: 20px 16px;
  }
}

.navSection,
.loginSection {
  display: flex;
  align-items: center;
}

.menuButton {
  display: none;
  /* Hidden by default, shown in mobile view below */
  background: none;
  border: none;
  cursor: pointer;
}

.logoLink {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  width: auto;
  margin-right: 8px;
}

.navLinks,
.loginSection {
  display: flex;
  gap: 16px;
  align-items: center;
}

.wallet-section button,
.wallet-section a {
  background-color: #f2ede1 !important;
  color: #222 !important;
  &:hover {
    background-color: #fff !important;
  }
}

.navLinks {
  margin-left: auto;
  margin-right: 20px;
}

.navItem,
.loginLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

/* Mobile Styles */
@media (min-width: 1024px) {
  .hideOnDesktop {
    display: none !important;
  }
}
@media (max-width: 1024px) {
  .menuButton {
    display: block;
    padding: 8px 12px;
    border: 1px solid #00000070;
    font-size: 14px;
    font-weight: 600;
    /* Show menu button on mobile */
  }

  .hideOnMobile {
    display: none;
    /* Hide navigation links and login link on mobile */
  }

  .sidebarOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  .sidebar {
    background-color: white;
    width: 75%;
    max-width: 300px;
    height: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: all 200ms;
  }

  .closeButton {
    align-self: flex-end;
    background: none;
    border: none;
    cursor: pointer;
  }

  .sidebarItem {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: left;
  }
}

.hero-grid-container::after {
  content: "";
  position: absolute;
  height: 300px;
  bottom: 0;
  width: 100vw;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 90%
  );
  @include max-breakpoint(md) {
    margin: auto;
  }
}

.hero-grid-container::before {
  content: "";
  position: absolute;
  height: 200px;
  top: 0;
  width: 100vw;
  z-index: 2;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );

  @include max-breakpoint(md) {
    display: none;
  }
}

.hero-grid-container {
  height: auto;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  gap: 0;
  display: grid;
  grid-template-columns: repeat(3, 160px);
  justify-content: center;

  @include max-breakpoint(lg) {
    height: 480px;
    overflow: hidden;
    padding-top: 64px;
    margin-top: 32px;
  }
  @include breakpoint(md) {
    grid-template-columns: repeat(4, 160px);
  }
  @include breakpoint(lg) {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(4, 260px);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    padding: 10px;
    position: absolute;
    right: 64px;
    top: -200px;
    left: unset;
    bottom: unset;
    z-index: 0;
    transform: scale(0.8);
  }
}

@media screen and (max-width: 1600px) {
  .hero-grid-container {
    right: -200px;
    gap: 12px;
  }
}

.hero-grid-item {
  background: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 160px;
  overflow: hidden;
  @include breakpoint(lg) {
    height: 260px;
    width: 260px;
  }
}

.hero-grid-item.large {
  grid-column: span 2;
}

.hero-grid-item.tall {
  grid-row: span 2;
}

.hero-grid-item.big {
  grid-column: span 2;
  grid-row: span 2;
}

.hero-grid-container > {
  .hero-grid-item:nth-child(2),
  .hero-grid-item:nth-child(5),
  .hero-grid-item:nth-child(8) {
    @include max-breakpoint(lg) {
      top: -40px;
    }
  }
}
.hero-grid-container > .hero-grid-item:nth-child(n + 1):nth-child(-n + 4) {
  position: relative;
  @include breakpoint(xl) {
    left: 64px;
  }
}

.hero-grid-container > .hero-grid-item:nth-child(n + 5):nth-child(-n + 8) {
  position: relative;
  background-color: red;

  @include breakpoint(xl) {
    left: -144px;
  }
}

.hero-grid-container > .hero-grid-item:nth-child(n + 13):nth-child(-n + 16) {
  position: relative;
  @include breakpoint(xl) {
    left: 160px;
  }
}

.white-shadow {
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
}

.hero-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.advert-image {
  width: 100%;
  max-width: 760px;
}

.advert-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
  position: relative;
  z-index: 1;
}

.btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
  padding: 8px 12px;
  line-height: normal;
  align-items: center;
  border-radius: 32px;
  transition: all ease-in-out 300ms;
  min-height: 40px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  @include breakpoint(lg) {
    min-width: 200px;
  }
}

.btn-primary {
  border-color: var(--blue-500);
  background-color: var(--blue-500);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn-primary:hover {
  border-color: var(--blue-700);
  background-color: var(--blue-700);
  letter-spacing: 1.25px;
  box-shadow: 0 0 8px #00a2ff;
}

.btn-secondary {
  border-color: var(--slate-500);
  border: 2px solid;
}

.btn-secondary:hover {
  border-color: var(--slate-400);
  background-color: var(--slate-300);
  border: 2px solid;
  box-shadow: 0 0 8px #00a2ff;
}

#promotion-banner::before {
  content: "";
  height: 100%;
  /* background: rgb(52, 74, 251); */
  /* background: linear-gradient(180deg, rgba(15, 23, 42, 0.75) 0%, rgba(1, 16, 130, 0.95) 100%); */
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#promotion-banner {
  height: auto;
  position: relative;
  @include breakpoint(lg) {
    min-height: 600px;
  }
}

#promotion-banner-main img {
  object-fit: cover;
  width: 100%;
}

#promotion-banner::before {
  /* background-image: url('../public/images/frame_7_zoomed_hires.jpg'); */
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  margin: 0;
  content: "";
  left: "";
  right: "";
  height: 100%;
  width: 100%;
  opacity: 0.75; */
  /* background-blend-mode: hard-light; */
}

.promotion-block h2 {
}

.promotion-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  z-index: 2;
  @include breakpoint(lg) {
    height: 400px;
  }
}

.fluid-gradient {
  position: relative;
}

.fluid-gradient-left img {
  left: -4px;
  top: -4px;

  @include breakpoint(lg) {
    left: -12px;
    top: -12px;
  }
}

.fluid-gradient-right img {
  right: -12px;
  top: -12px;
}

.fluid-gradient-left::before {
  background: linear-gradient(-45deg, #2863e8, #e4ddbc, #0050ff, #dda43a);
  background-size: 400% 400%;
  content: "";
  left: 8px;
  top: 12px;

  @include breakpoint(lg) {
    left: 24px;
    top: 24px;
  }
}

.fluid-gradient-right::before {
  background: linear-gradient(-45deg, #2863e8, #e4ddbc, #0050ff, #dda43a);
  background-size: 400% 400%;
  content: "";
  right: 16px;
  top: 16px;
  @include breakpoint(lg) {
    right: 24px;
    top: 24px;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.fluid-gradient::before {
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  border-radius: 20px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.grid-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid-2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}

.grid-3 {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
}

.grid-item {
  height: max-content;
}

.gaian-font {
  font-family: "GaianBasic";
}

.gaian-title {
  font-size: 2.75rem;
  font-family: "GaianBasic";
  position: relative;
  z-index: 2;
  color: white;
  line-height: 1;
  margin-bottom: 1.5rem;
  @include breakpoint(lg) {
    font-size: 11rem;
  }
  @include breakpoint(xl) {
    font-size: 12rem;
  }
}

.pf-title {
  font-family: "PFDinDisplayPro";
  color: white;
  font-size: 1.5rem;

  @include breakpoint(lg) {
    font-size: 2.5rem;
  }
}

.selling-points {
  background-image: url(/images/geometric-pattern.svg);
  background-size: cover;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}

.join-the-rev {
  background-image: url(/images/bg-pattern.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.slick-slider {
  @include max-breakpoint(md) {
    width: calc(100% + 32px);
    margin-left: -16px;
  }
}
.slick-initialized .slick-slide {
  @include max-breakpoint(md) {
    display: block;
    padding: 0 16px;
  }
}
